.lista-container {
    display: inline-flex;
}
  
.lista-elemento {
    border: 1px solid black;
    margin-right: 30px; 
    padding: 8px;
    border-radius: 10px; 
    text-align: center;
}
#estilo-logo{
    margin-right: 10px;
    width: 40px;
}
.lista-elemento:last-child {
    margin-right: 0;
}
#logo-forma{
    display: flex; 
    align-items: center; 
}
  

.App {
    width: 100vw;
    height: 100vh;
    
}

#usuario-docente{
    text-align: center;
    background-color:beige;
}

#fila-docente{
    text-align: left;
}

#descripcion-docente{
    text-align: justify;
}

#titulo-docente{
    font-size: small;
}

#foto-docente{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.estilo-horario {
    background-color:lightgray; /* Color de fondo del botón */
    border-color: lightgray;/* Quitamos el borde del botón */
    color: black; /* Color del texto del botón */
    display: inline-block; /* Convertimos el botón en un elemento en línea */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    margin-right: 30px; 
    padding: 8px;
    border-radius: 10px; 
    text-align: center;
    ;}